{% extends 'base.html' %}

{% block CONTENT %}
    <div class="row">
        <div class="col-xs-12">
            <form method="post" action="{% url 'receipt-process' object.pk %}" class="inline">
                {% csrf_token %}
                <button type="submit" class="btn btn-info pull-right">
                    Do OCR!
                </button>
            </form>
            <h3>
                OCR Result
            </h3>
            <pre style="font-size: 8px; height: 200px; overflow-y: scroll;">{{ object.full_text }}
            </pre>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-default">
                <div class="panel-body detail-panel">
                    <img src="{{ object.image.url }}" style="width: 100%">
                </div>
                <div class="panel-footer"><i class="fa fa-history" aria-hidden="true"></i>
                    Analyzed {{ object.created | timesince }} ago
                </div>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Product name</th>
                        <th>Price</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for row in object.parsed_result %}
                        <tr>
                            <td>
                                {{ row.0 }}
                            </td>
                            <td>
                                {{ row.1 }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}