{% extends 'base.html' %}


{% block HEAD_END %}
    <style>
        .receipts-row .panel-body {
            height: 220px;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
        }

        .paper-fab-add {
            padding: 5px;
            position: fixed;
            z-index: 2;
            width: 80px;
            right: 15px;
            bottom: 15px;
            font-size: 36px;
            border-radius: 50%;
        }
    </style>
{% endblock %}

{% block CONTENT %}
    <a type="button" href="{% url 'receipt-create' %}" class="btn btn-danger paper-fab-add visible-xs">+</a>

    <div class="row">
        <div class="col-xs-12" style="margin-bottom: 10px;">
            <a type="button" href="{% url 'receipt-create' %}" class="btn btn-danger btn-lg pull-right hidden-xs"><i
                    class="fa fa-file-text-o" aria-hidden="true"></i> Add receipt</a>
        </div>
    </div>


    <div class="receipts-row">
        <div class="row">
            {% for object in object_list %}
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="panel panel-default">
                        <a href="{% url 'receipt-detail' object.pk %}">
                            <div class="panel-body" style="background-image: url('{{ object.image.url }}')">
                            </div>
                            <div class="panel-footer"><i class="fa fa-history" aria-hidden="true"></i>
                                Analyzed {{ object.created | timesince }} ago
                            </div>
                        </a>
                    </div>
                </div>
                <div class="clearfix visible-xs-block"></div>
                {% if forloop.counter|divisibleby:2 %}
                    <div class="clearfix visible-sm-block"></div>
                {% endif %}
                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix visible-md-block"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block ENDBODY %}
{% endblock %}